{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row page-title-head">
            <div class="col-12">
            <h1>Submit your Playlists</h1>
        </div>
        </div>
        <form action="{{url_for('insert_playlist')}}" method="POST" class="col s12 playlist-form">
            <div class="row">
                <div class="input-field col-sm-12 col-md-6">
                    <label>Name of the playlist:
                    </label>
                    <input id="playlist-name" name="name" type="text" placeholder="Playlist Name">
                </div>
                <div class="input-field col-sm-12 col-md-6">
                    <label>Select Category</label>
                    <select id="category" name="category">
                        <option value="" disabled="disabled" selected="selected">Playlist Category</option>
                        {% for category in categories %}
                            <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-sm-12 col-md-6">
                        <div class="helper-left">
                                <div class="helper-title">
                                    <h5>What'is Spotify URL? How to get it?</h5>
                                </div>
                                <div class="helper-content">
                                    <p>URL is a link to your playlist</p>
                                    <p>You can optain it by:</p>
                                    <ol>
                                        <li>Go to the Spotify Playlist</li>
                                        <li>Right click or Click on 3dot icon</li>
                                        <li>Go to share -> Copy Spotify Link</li>
                                    </ol>
                                </div>
                            </div>
                    <label>Spotify URL:</label>
                    <input
                        id="spotify-link"
                        name="spotify_link"
                        type="text"
                        placeholder="Spotify Link">
                </div>
                <div class="input-field col-sm-12 col-md-6">
                        <div class="helper-right">
                                <div class="helper-title">
                                    <h5>What'is Spotify ID, How to get it?</h5>
                                </div>
                                <div class="helper-content">
                                    <p>ID is a unique string of numbers assigned to every playlist.
                                        In order to optain it follow these steps:</p>
                                        <ol>
                                            <li>Go to the playlist screen in Spotify</li>
                                            <li>Right Click or Click 3dot icon</li>
                                            <li>Go to share -> Copy Spotify URI</li>
                                        </ol>
                                            <p>Please note that ID is only last string of characters in URI
                                            (bold portion in the example)paste <strong>ONLY</strong> 
                                            this portion of the URI, example: spotify:playlist:<strong>2hU56mpHuOEAlyf64raVoG</strong></p>
                                        
                                    
                                </div>
                            </div>
                                <label>Spotify ID:</label>
                    <input id="spotify-id" name="spotify_id" type="text" placeholder="Spotify ID">
                
                </div>
            </div>
            <div class="row">
                
                <div class="input-field col-12">
                        <label>Description</label>
                    <textarea
                        id="description"
                        name="description"
                        type="text"
                        placeholder="Tell us all about this playlist!"></textarea>
                </div>
            </div>
            <div class="row">
                    <div class="col-12 form-submits">
                <input type="submit" value="submit">
            </div>
            </div>
        </form>
    </div>

{% endblock %}